*.aps
*.config
*.db
*.db-shm
*.db-wal
*.dll
*.exe
*.exp
*.FileListAbsolute.txt
*.idb
*.ilk
*.iobj
*.ipdb
*.ipch
*.lastcodeanalysissucceeded
*.lib
*.log
*.manifest
*.obj
*.opendb
*.pdb
*.recipe
*.res
*.sarif
*.sbr
*.suo
*.tlog
*.tmp
*.user

CodeAnalysisResultManifest.txt 
