@charset "iso-8859-1";
/* Author: admin@gregpeet.com
 *
 * Updated: 4th July 2004
 */

p, form, ol, ul, li, input, textarea, select, a{
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
    color: black;}

a:link{
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: underline;
    color: #333366;}

.smalllink{
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: underline;
    color: #993366;}

.footnote{
    font-family: Tahoma, Verdana, Arial;
    font-size: 8pt;
    color: #333399;}

a:active{
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
    color: #993366;}

a:visited{
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
    color: #333366;}

a:hover{
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
    color: #993366;}

body{
    font-family: Verdana, Tahoma, Arial;
    background-color: white;
    color: black;
    font-size: 10pt;
    scrollbar-face-color: #666699;
    scrollbar-shadow-color: #330033;
    scrollbar-highlight-color: #B0B0E3;
    scrollbar-3dlight-color: black;
    scrollbar-darkshadow-color: black;
    scrollbar-track-color: silver;
    scrollbar-arrow-color: white;
    margin-left: 5px;
    margin-right: 5px;}
h1{
    color: #666699;
    font-family: Tahoma, Verdana, Arial;
    font-size: 16pt;
    letter-spacing: 6px;
    text-align: left;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    margin-bottom: 0 px;}

h2{
    color: #330033;
    font-family: Tahoma, Verdana, Arial;
    font-size: 14pt;
    letter-spacing: 6px;
    font-weight: bold;
    font-variant: small-caps;}

h3{
    color: black;
    font-family: Tahoma, Verdana, Arial;
    font-size: 11pt;
    letter-spacing: 6px;
    font-weight: bold;
    font-variant: small-caps;}

h4{
    color: #333366;
    font-family: Tahoma, Verdana, Arial;
    font-size: 11pt;
    font-weight: bold;}

.code{
    font-size: 10pt;
    color: black;
    font-family: "courier new", terminal, fixedsys, system;
    font-weight: bolder;
    margin-right: 1px;
    margin-left: 1px;}


pre{
    font-size: 10pt;
    color: black;
    font-family: "courier new", terminal, fixedsys, system;
    margin-right: 15px;
    margin-left: 15px;}

ul{
    margin-bottom: 4px;
    margin-top: 4px;}

li{
    padding-top: 4px;}

.tiny{
    font-family: Verdana, Tahoma, Arial;
    text-decoration: none;
    font-size: 8pt;}

.sub-quote{
    font-family: Verdana, Tahoma, Arial;
    text-decoration: none;
    font-size: 8pt;
    font-style: italic;}

.text{
    text-decoration: none;
    color: black;
    font-family: Tahoma, Verdana, Arial;
    font-size: 10pt;}

.main-text{
    text-decoration: none;
    font-size: 12pt;}

.menu-link{
    text-decoration: underline;
    font-family: Tahoma, Arial, Verdana, Arial;
    font-size: 9pt;
    letter-spacing: 3px;
    font-weight: bold;
	color: #B0B0E3;}

.menu-link-icpp{
    text-decoration: underline;
    font-family: Tahoma, Arial, Verdana, Arial;
    font-size: 9pt;
    letter-spacing: 3px;
    font-weight: bold;
	color: #CCCCCC;}

.menu-nolink{
    text-decoration: none;
    font-family: Tahoma, Arial, Verdana, Arial;
    font-size: 9pt;
    letter-spacing: 3px;
    font-weight: bold;
	color: #B0B0E3;}


.link-link{
    text-decoration: underline;
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
    letter-spacing: 3px;
    font-weight: bold;}

.errata{
    background-color: #B0B0E3;
    color: black;}

.chapter-title{
    color: black;
    font-family: Tahoma, Verdana, Arial;
    font-size: 10pt;
    letter-spacing: 6px;
    font-variant: small-caps;}

.fixed{
    font-size: 10pt;
    color: black;
    font-family: "courier new", terminal, fixedsys, system;}

.subtitle{
    font-size: 14pt;
    font-style: oblique;
    color: #B0B0E3;
    font-stretch: ultra-expanded;
    letter-spacing: 10;
    word-spacing: 10;}

.large{
    font-size: 14pt;}

.h-padded{
    padding-left: 30 px;
    padding-right: 60%;
    padding-top: 0 px;
    padding-bottom: 0 px;
    margin-top: 0 px;}

.entry{
    color: #330033;
    text-decoration: inherit;
    font-family: Tahoma, Verdana, Arial;
    font-size: 12pt;
    letter-spacing: 4px;
    font-weight: bold;
    font-variant: small-caps;
    padding-bottom: 0 px;}

.pattern{
    background-image: url(images/pattern.jpg);
    background-repeat: repeat;}

.sitemap{
    text-decoration: inherit;
    font-family: Tahoma, Arial, Verdana, Arial;
    font-size: 9pt;
    letter-spacing: 2px;
    font-weight: bold;
	color: #333366;}

.details{
    text-decoration: inherit;
    font-family: Tahoma, Arial, Verdana, Arial;
    font-size: 9pt;
    font-weight: bold;
	color: #333399;
    padding-left: 30 px;
    padding-right: 0 px;
    padding-top: 0 px;
    padding-bottom: 0 px;
    margin-top: 0 px;}

.maplist{
    font-weight: bold;
    font-size: 10 pt;
    color: #333366;
    list-style-type: none;}


.sitemap-directory{
    font-size: 8pt;
    color: #333399;
    font-family: Tahoma, Arial, Verdana;
    letter-spacing: 2px;
	}

.sitemap-file{
    font-size: 8pt;
    color: #339933;
    font-family: Tahoma, Arial, Verdana;
    letter-spacing: 2px;
	}


	
