<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6b8d29e6-10fa-4647-a077-f8632ab4ea2f" Publisher="CN=Charles" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FingerPaint</DisplayName>
    <PublisherDisplayName>Charles</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FingerPaint.App">
      <VisualElements DisplayName="PW6 - 14 C++ Finger Paint" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FingerPaint" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>