<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="92f72bbf-6b7f-402c-be70-e85d0b7851b8" Publisher="CN=Charles" Version="1.0.0.0" />
  <Properties>
    <DisplayName>The Tale of Tom Kitten</DisplayName>
    <PublisherDisplayName>Charles Petzold</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TheTaleOfTomKitten.App">
      <VisualElements DisplayName="PW6 - 4 C# The  Tale of  Tom  Kitten" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="&quot;The Tale  of Tom Kitten&quot; by Beatrix Potter" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>