<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="f3181c95-6eec-4a30-93fd-f7951580bda1"
            Publisher="CN=Charles"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SpinPaint</DisplayName>
    <PublisherDisplayName>Charles</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SpinPaint.App">
        <VisualElements
            DisplayName="PW6 - 15 C++ Spin Paint"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="SpinPaint"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>