//Microsoft Developer Studio generated resource script.
#include "resource.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// Icon
HEXCALC                 			ICON    DISCARDABLE     			"HexCalc.ico"

/////////////////////////////////////////////////////////////////////////////

#include "hexcalc.dlg"