<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="f7ddaf8b-c013-43b5-bbe7-07c1f8592309"
            Publisher="CN=Charles"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>HelloVideo</DisplayName>
    <PublisherDisplayName>Charles</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HelloVideo.App">
        <VisualElements
            DisplayName="PW6 - 1 C# Hello Video"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="HelloVideo"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>